.link {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    background-color: #bdbaba88;
    transition: color ease-in-out 300ms;
}

.active-link {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #999999;
    transition: color ease-in-out 300ms;
}